section {
    padding: 60px 0;
    min-height: 100vh;
}
.navbar {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1576091160550-2173dba999ef');
    background-size: cover;
    background-position: center;
    color: white;
}
.service-card {
    transition: transform 0.3s;
}
.service-card:hover {
    transform: translateY(-10px);
}
.contact-form {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
footer {
    background-color: #343a40;
    color: white;
}

i{
    font-size: 30px;
}

.icon-circle {
    background-color: #16610E; /* لون الخلفية */
    color: white;             /* لون الأيقونة */
    padding: 10px;            /* مساحة داخل الدائرة */
    border-radius: 50%;       /* يخليها دائرة */
    display: inline-flex;     /* عشان تتوسط صح */
    align-items: center;
    justify-content: center;
    width: 40px;              /* حجم الدائرة */
    height: 40px;
    font-size: 1.5rem;          /* حجم الأيقونة */
}
  
